@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    color: black; }

@keyframes salta {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, -20px); }
  100% {
    transform: translate(0, 0); } }

@keyframes location {
  0% {
    transform: scaleX(100%) translate(0, 0); }
  50% {
    transform: scaleX(80%) translate(0, -10px); }
  100% {
    transform: scaleX(100%) translate(0, 0); } }

@keyframes telefono {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(20deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes mail {
  0% {
    transform: scaleY(100%) translate(0, 0); }
  50% {
    transform: scaleY(20%) translate(0, -20px); }
  100% {
    transform: scaleY(100%) translate(0, 0); } }

header {
  display: inline-block;
  width: 42%;
  position: absolute;
  top: 1rem;
  left: 29%;
  z-index: 2; }
  @media (min-width: 1200px) {
    header {
      top: 3.75rem;
      width: 16%;
      left: 42%; } }
  header h1 {
    width: 10rem;
    margin: 2rem auto 0 auto; }
    header h1 img {
      width: 100%; }
    @media (min-width: 768px) {
      header h1 {
        width: 12rem;
        margin: 1rem auto 0 auto; } }
    @media (min-width: 1200px) {
      header h1 {
        margin-top: 0; } }

.navbar {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1rem;
  line-height: normal;
  position: sticky;
  top: 0;
  min-height: 6rem;
  z-index: 1; }
  .navbar .navbar-toggler {
    border: none;
    --bs-navbar-toggler-focus-width: none;
    --bs-navbar-toggler-padding-x: 0.25rem; }
  .navbar .dropdown-menu {
    border: none; }
    .navbar .dropdown-menu .dropdown-item {
      --bs-dropdown-link-color: rgba(0,0,0,0.95);
      --bs-dropdown-link-hover-bg: none; }
  .navbar form .form-control {
    box-shadow: none;
    border-color: rgba(177, 127, 35, 0.4); }
  .navbar form .btn {
    --bs-btn-color: black;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(177, 127, 35,0.4)
        ; }
  .navbar form .btn-outline-success {
    --bs-btn-hover-bg: rgba(177, 127, 35,0.4);
    --bs-btn-hover-color: black;
    --bs-btn-hover-border-color: rgba(177, 127, 35,0.4);
    --bs-btn-border-color: rgba(177, 127, 35,0.4);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(177, 127, 35,0.8);
    --bs-btn-active-border-color: rgba(177, 127, 35,0.8); }
  .navbar form .carrito {
    padding-left: 0.5rem;
    width: 4rem; }
    .navbar form .carrito img {
      width: 100%; }
  @media (min-width: 1200px) {
    .navbar {
      font-family: "Roboto", sans-serif;
      color: black;
      font-size: 1.15rem;
      line-height: normal;
      --bs-navbar-padding-y: 0;
      min-height: 0; }
      .navbar .navbar-nav {
        margin-left: 2vw;
        padding: 0.5rem 0; }
        .navbar .navbar-nav .dropdown-menu {
          border-color: gray; }
          .navbar .navbar-nav .dropdown-menu .dropdown-item {
            --bs-dropdown-link-color: rgba(0,0,0,0.8);
            --bs-dropdown-link-hover-bg: rgba(211,211,211,0.289); }
      .navbar form .carrito {
        margin-right: 1rem; } }

main {
  margin-top: 5rem;
  margin-bottom: 1rem;
  min-height: 44vh; }
  main p {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 0.9rem;
    line-height: normal; }
  @media (min-width: 768px) {
    main {
      margin-bottom: 1.5rem; } }
  @media (min-width: 1200px) {
    main {
      margin-top: 10rem;
      margin-bottom: 2rem; } }
  main .titulosMain, main .subtitulosMain {
    font-family: "Work Sans", cursive;
    color: #b17f23;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase; }
  main .subtitulosMain {
    text-transform: none;
    font-size: 1.25rem;
    padding: 1rem 0;
    width: fit-content;
    margin: auto; }
    @media (min-width: 768px) {
      main .subtitulosMain {
        font-family: "Work Sans", cursive;
        color: #b17f23;
        font-size: 1.4rem;
        text-align: center;
        padding-bottom: 2rem; } }

footer {
  background-color: #e6e6e6;
  display: grid;
  grid-template-rows: 3fr 1fr;
  text-align: center; }
  footer .divsFooter {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .divsFooter div h4 {
      font-family: "Roboto", sans-serif;
      color: black;
      font-size: 1rem;
      line-height: normal;
      padding: 1rem 0 0.4rem 0; }
    footer .divsFooter div ul {
      padding-left: 0; }
      footer .divsFooter div ul li {
        padding: 0.5rem 0;
        font-family: "Roboto", sans-serif;
        color: black;
        font-size: 0.9rem;
        line-height: normal; }
    footer .divsFooter .redesSociales h4 {
      margin: 1rem 0; }
    footer .divsFooter .redesSociales div {
      display: flex;
      justify-content: space-around;
      width: 40vw; }
      footer .divsFooter .redesSociales div img {
        height: 40px; }
    footer .divsFooter .redesSociales .botonWhatsapp {
      position: fixed;
      bottom: 6vh;
      right: 3vw;
      z-index: 4; }
      footer .divsFooter .redesSociales .botonWhatsapp .whatsapp {
        height: 50px; }
      footer .divsFooter .redesSociales .botonWhatsapp:hover {
        animation-name: salta;
        animation-iteration-count: infinite;
        animation-duration: 1s; }
    @media (min-width: 768px) {
      footer .divsFooter {
        display: grid;
        grid-template-areas: "ayuda redes blank" "nosotros redes blank";
        grid-template-columns: 1fr 1fr 2fr;
        align-items: start;
        justify-items: center; }
        footer .divsFooter .redesSociales div {
          width: 15vw;
          min-width: 150px; } }
  footer .credits {
    align-self: center;
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 0.8rem;
    line-height: normal; }
    footer .credits a {
      text-decoration: underline;
      font-weight: 600; }

.contIndex {
  display: none; }
  @media (min-width: 1200px) {
    .contIndex {
      padding-bottom: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      .contIndex .seccionInicio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 1rem 0; }
        .contIndex .seccionInicio .linkMainInicio {
          width: 90%; }
          .contIndex .seccionInicio .linkMainInicio h2:hover {
            transform: scale(1.05); }
          .contIndex .seccionInicio .linkMainInicio img {
            width: 100%; } }

.ancla {
  position: relative;
  top: -70px; }
  @media (min-width: 768px) {
    .ancla {
      top: -90px; } }
  @media (min-width: 1200px) {
    .ancla {
      top: -120px; } }

.anclaPrimera {
  top: -160px; }
  @media (min-width: 768px) {
    .anclaPrimera {
      top: -200px; } }
  @media (min-width: 1200px) {
    .anclaPrimera {
      top: -270px; } }

.imagenesProductos {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  width: 90vw;
  justify-items: center;
  margin: 0 auto;
  padding-bottom: 1.5rem; }
  .imagenesProductos a {
    width: 100%; }
    .imagenesProductos a img {
      width: 100%; }
    .imagenesProductos a p {
      text-align: center; }
    .imagenesProductos a .nombreProducto {
      font-weight: 800; }
  @media (min-width: 768px) {
    .imagenesProductos {
      grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 1200px) {
    .imagenesProductos {
      grid-template-columns: repeat(4, 1fr); } }

.oferta {
  display: grid;
  grid-template-areas: "img texto" "compra compra";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 9fr 2fr;
  height: fit-content; }
  .oferta .imgOferta {
    width: 80%;
    justify-self: center;
    padding-top: 3vh;
    grid-area: img; }
    .oferta .imgOferta img {
      width: 100%;
      border-radius: 1rem; }
  .oferta .infoCompra {
    height: 90%;
    width: 90%;
    grid-area: texto; }
    .oferta .infoCompra .infoOferta h3 {
      padding: 3vh 0 0.5rem 0; }
    .oferta .infoCompra .infoOferta p {
      text-align: justify; }
  .oferta .compraOferta {
    grid-area: compra;
    align-self: center; }
    .oferta .compraOferta a {
      padding-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .oferta .compraOferta a img {
        width: 2rem; }
  @media (min-width: 768px) {
    .oferta {
      grid-template-areas: "blank img texto null" "blank img compra null";
      grid-template-columns: 1fr 1fr 2fr 1fr;
      padding-bottom: 1rem; }
      .oferta .compraOferta a {
        justify-content: flex-start; } }

@media (min-width: 768px) {
  .mainNovedades {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 1200px) {
  .mainNovedades {
    margin-left: 3rem;
    margin-right: 3rem; } }

.mainNovedades .novedad {
  display: grid;
  grid-template-areas: "titulo titulo" "imagen texto";
  grid-template-columns: 1fr 1fr;
  margin: 0 3vw 0 3vw; }
  .mainNovedades .novedad .imgNovedad {
    grid-area: imagen;
    margin: 0 1rem 1rem 1rem; }
    .mainNovedades .novedad .imgNovedad img {
      width: 100%;
      border-radius: 1rem; }
  .mainNovedades .novedad h3 {
    grid-area: titulo;
    text-align: center; }
  .mainNovedades .novedad .txtNovedad {
    grid-area: texto;
    margin: 0 1rem 0 1rem;
    align-self: center;
    text-align: center; }

.mainNovedades .novedadSegunda {
  grid-template-areas: "titulo titulo" "texto imagen";
  margin-bottom: 2rem; }
  .mainNovedades .novedadSegunda .imgNovedad {
    align-self: center; }

@media (min-width: 768px) {
  .mainNovedades .novedad {
    margin-top: 2rem;
    display: flex;
    flex-direction: column; }
    .mainNovedades .novedad h3 {
      padding: 0;
      margin: 1rem auto 1rem auto; }
  .mainNovedades .novedadSegunda {
    margin-bottom: 3vw; } }

.quienes {
  text-align: justify;
  width: 80%;
  margin: auto; }
  .quienes .quienesTexto h3 {
    padding-bottom: 0.5rem; }
  .quienes .quienesImagen {
    margin: 1rem 0 2rem 0; }
    .quienes .quienesImagen img {
      width: 100%;
      border-radius: 1rem; }
  @media (min-width: 768px) {
    .quienes {
      display: grid;
      grid-template-areas: "texto imagen";
      gap: 3rem;
      align-items: center; }
      .quienes .quienesImagen {
        grid-area: imagen;
        min-width: 200px;
        width: 35vw; }
      .quienes .quienesTexto {
        grid-area: texto; } }
  @media (min-width: 1200px) {
    .quienes {
      gap: 5rem; }
      .quienes .quienesImagen {
        width: 420px;
        margin: none; } }

.quienesHoy {
  padding-bottom: 2rem; }

.mainContacto .formContacto {
  padding: 1rem; }
  .mainContacto .formContacto .formElements {
    display: flex;
    flex-direction: column;
    margin: 0.75rem; }
    .mainContacto .formContacto .formElements .mensaje {
      min-height: 20vh; }
  .mainContacto .formContacto .divEnviar {
    text-align: center; }
    .mainContacto .formContacto .divEnviar button {
      font-family: "Work Sans", cursive;
      color: #b17f23;
      font-size: 1rem;
      text-align: center;
      font-weight: 900;
      width: 5rem;
      border-radius: 0.5rem; }
      .mainContacto .formContacto .divEnviar button:hover {
        background-color: #c1c1c1;
        cursor: pointer; }

.mainContacto .itemsContacto {
  padding: 1rem 0;
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem; }
  .mainContacto .itemsContacto .iconoContacto {
    width: 2.5rem; }
  .mainContacto .itemsContacto .infoContacto {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mainContacto .itemsContacto .infoContacto p {
      width: fit-content; }

@media (min-width: 768px) {
  .mainContacto {
    display: flex; }
    .mainContacto .formContacto {
      width: 60vw; } }
    @media (min-width: 768px) and (min-width: 1200px) {
      .mainContacto .formContacto {
        width: 50vw; } }

@media (min-width: 768px) {
    .mainContacto .itemsContacto {
      width: auto; }
      .mainContacto .itemsContacto .iconoLoc:hover {
        animation-name: location;
        animation-iteration-count: infinite;
        animation-duration: 1s; }
      .mainContacto .itemsContacto .iconoTel:hover {
        animation-name: telefono;
        animation-iteration-count: infinite;
        animation-duration: 1s; }
      .mainContacto .itemsContacto .iconoMail:hover {
        animation-name: mail;
        animation-iteration-count: infinite;
        animation-duration: 2s; } }

.contFaq {
  margin: 2rem 1rem 1rem 1rem; }
  @media (min-width: 1200px) {
    .contFaq {
      margin: 2rem 0 1rem 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  .contFaq .fotoFaq {
    display: none;
    margin: 0 2rem 0 0; }
    .contFaq .fotoFaq img {
      width: 100%; }
    @media (min-width: 1200px) {
      .contFaq .fotoFaq {
        display: block; } }

.carousel {
  width: 85%;
  max-width: 70vh;
  margin: 3rem auto; }
  .carousel .carousel-item a {
    width: 65%; }
  @media (orientation: landscape) {
    .carousel {
      max-width: 100vh; } }
  @media (min-width: 1200px) {
    .carousel {
      display: none; } }

.accordion {
  --bs-accordion-active-bg: transparent;
  --bs-accordion-active-color: black;
  --bs-accordion-btn-focus-border-color: rgba(177,127,35,1);
  --bs-accordion-btn-focus-box-shadow: 0 0 0.25rem 0.15rem rgba(177,127,35,0.7);
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"); }
