header {
    display: inline-block;
    width: 70%;
    position: absolute;
    top: 1rem;
    left: 30%;
    z-index: 2;
    display: grid;
    grid-template-areas: "logo logo null";
    grid-template-columns: 1fr 1fr 1.5fr;
    @media (map-get($media,large)){
        top: 3.75rem;
    }
    h1 {
        width: 10rem;
        margin: 2rem auto 0 auto;
        grid-area: logo;
        img {
            width: 100%;
        }
        @media (map-get($media,medium)) {
            width: 12rem;
            margin: 1rem auto 0 auto;
        }
        // En tamaño desktop, el logo no tiene márgen
        @media (map-get($media,large)) {
            margin-top: 0;
        }
    }
}