header {
    // El header contiene únicamente el logo. Está posicionado por delante de todos los demás elementos. Se establece el display en inline block para que no ocupe el ancho total de la página y no "tape" al menú.
    display: inline-block;
    // Ancho del 50% por lo mismo que se describe antes
    width: 42%;
    position: absolute;
    top: 1rem;
    // Como el ancho es del 50%, al establecer left en 25%, se centra. (Siempre y cuando el ancho de h1 no supere al del header)
    left: 29%;
    z-index: 2;
    @media (map-get($media,large)){
        top: 3.75rem;
        // En vista desktop, se disminuye el ancho del header ya que el menú es más ancho y además tiene elementos en ambos extremos.
        width: 16%;
        left: 42%;
    }
    h1 {
        // Ancho del h1, y por extensión del logo (porque el width de la imagen es 100%)
        width: 10rem;
        // Márgenes laterales auto para que se centre
        margin: 2rem auto 0 auto;
        img {
            width: 100%;
        }
        @media (map-get($media,medium)) {
            width: 12rem;
            margin: 1rem auto 0 auto;
        }
        // En tamaño desktop, el logo no tiene márgen superior
        @media (map-get($media,large)) {
            margin-top: 0;
        }
    }
}