main {
    margin-top: 5rem;
    margin-bottom: 1rem;
    min-height: 44vh;
    @media (map-get($media,medium)) {
        margin-bottom: 1.5rem;
    }
    @media (map-get($media,large)) {
        margin-top: 10rem;
        margin-bottom: 2rem;
    }
    .titulosMain {
        @include headers-font(1.4rem);
        text-transform: uppercase;
    }
    .subtitulosMain {
        @extend .titulosMain;
        text-transform: none;
        font-size: 1.25rem;
        padding: 1rem 0;
        width: fit-content;
        margin: auto;
        @media (map-get($media,medium)) {
            @include headers-font(1.4rem);
            padding-bottom: 2rem;
        }
    }
}