.contFaq {
    margin: 2rem 1rem 1rem 1rem;
    @media(map-get($media,large)) {
        margin: 2rem 0 1rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .fotoFaq {
        display: none;
        margin: 0 2rem 0 0;
        img {
            width: 100%;
        }
        // La imagen solo aparece en la vista desktop
        @media(map-get($media,large)) {
            display: block;
        }
    }
}