@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
// Se configuran dos mixins para fuentes (de contenidos generales y de títulos). La variable a pasar es únicamente el font-size.
// SOLO modificar si se pretende realizar cambios globales
@mixin contents-font($size) {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: $size;
    line-height: normal;
}

@mixin headers-font($size) {
    font-family: "Work Sans", cursive;
    color: rgb(177, 127, 35);
    font-size: $size;
    text-align: center;
}


